/* .container
{
width:300px;
height: 100px;
background-color: aquamarine;
overflow: auto;
} */
/* 
p{
     padding-top: 200px; 
    margin-bottom: 200px;
    border: 10px rebeccapurple double;
} */
/* div{
    background-image: url(../day5/img/stars.jpg);
    width: 700px;
    height: 700px;
    color: aquamarine;
    text-align: center;
    overflow:scroll;
    padding: 100px;
}


button
{
   margin: 200px 200px;
   
} */
/* 
div
{
    width: 200px;
    height: 200px;
    background-color: aqua;
    border-top-left-radius: 40px;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 60px;
} */

/* 
 .container
{
background-color: aquamarine;

height: 200px;
} 

.img
{
    background-image: url(../day5/img/stars.jpg); 
    width: 100px;
    height: 100px;


}

.home
{
    float:right;
}

.aboutUs
{
    float: right;
} */

.a
{
    background-image: url(../day5/img/stars.jpg); 
    width: 100px;
    height: 100px;   
     display: inline-block;
     padding: 80px;
     margin: 160px;
}
   

.a:hover
{
    background-image: url(../day5/img/stars.jpg); 
    width: 100px;
    height: 100px;   
     display: inline-block;
     padding: 90px;
     margin: 200px;
     transform: 1s;
     border: 4px blue solid;
     outline: 4px rebeccapurple solid;
     box-shadow: 19px 19px 19px 19px yellow;
}

   
/*    
.b
{
    background-image: url(../day5/img/stars.jpg); 
    width: 100px;
    height: 100px; 
    display: inline-block;
    padding: 80px;
    margin: 160px;
   
}
.c
{
    background-image: url(../day5/img/stars.jpg); 
    width: 100px;
    height: 100px; 
    display: inline-block;
    padding: 80px;
    margin: 160px;
   
} */