/*  img{
    height: 250px;
    width: 250px;

} 
 .content{
    justify-content: center;
    align-items: center;
display: flex;

} 
 ----------------------------

.box
{
    background-color: red;
    height: 250px;
    width: 250px;
    justify-content: center;
    align-items: center;

}

.Redbtn
{
 background-color: rgba(245, 74, 74, 0.459);
 height: 100px;
 width: 100px;

}

.greenbtn
{
    background-color: rgba(74, 245, 88, 0.459); 
    height: 100px;
    width: 100px;
}


.Pinkbtn
{
    background-color: rgba(245, 74, 202, 0.459);
    height: 100px;
    width: 100px; 
} */
